<header class="header">
  <div class="layui-container">
    {% assign author = site.author %}
    <a class="logo" href="/">
      {{author.name}}</a>
    <div class="motto">{{author.motto}}</div>
    <ul class="layui-nav layui-bg-white">
      <i id="closeButton" class="layui-icon layui-icon-close"></i>
      {% for item in site.data.navigation %}
        <li class="layui-nav-item {% if page.url == item.link %}layui-this{% endif %}">
          <a href="{{ item.link }}">{{ item.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <i class="layui-icon layui-icon-spread-left nav-button"></i>
  </div>
</header>
